<div class="col-12 hiddenCard">
    <div class="col-8 d-flex align-items-center justify-content-center">
        <div class="col-4">
        </div>
        <div class="col-8">
            <div class="textHidden" id="hidden_group" hidden></div>
        </div>
    </div>
</div>

<div class="col-12 mt-3">
    <div class="col-8 d-flex justify-content-start align-items-center">
        <div class="col-4">
            <label for="group"><b>Nome do Grupo:<b class="textHidden"> * </b></b></label>
        </div>
        <div class="col-8">
            <input id="group" class="form-control" data-id="0" type="text" placeholder="Copie e cole o nome do grupo">
        </div>
    </div>
</div>

<div class="col-12 d-flex mt-3">

    <div class="col-4">
        <div class="col-6">
            <label>Contanto:<b class="textHidden"> * </b></label>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-8">
                <input class="form-control" id="input_contact" data-id="1" type="text" placeholder="Contato">
            </div>
            <div class="col-2 button-offset">
                <button class="btn btnAdd2" id="btn_add_contact" type="button">Incluir</button>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="col-7">
            <label>Palavra-chave:<b class="textHidden"> * </b></label>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-8">
                <input class="form-control" id="input_keyWord" data-id="2" type="text"
                    placeholder="Termo a ser encontrado">
            </div>
            <div class="col-2 button-offset">
                <button class="btn btnAdd2" id="btn_add_keyWord" type="button">Incluir</button>
            </div>
        </div>

    </div>

    <div class="col-4">
        <div class="col-6">
            <label>Resposta:<b class="textHidden"> * </b></label>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-8">
                <input class="form-control" id="input_response" data-id="3" type="text"
                    placeholder="Resposta a ser enviada">
            </div>
            <div class="col-2 button-offset">
                <button class="btn btnAdd2" id="btn_add_response" type="button">Incluir</button>
            </div>
        </div>
    </div>

</div>

<div class="col-12 d-flex mt-3 list-row-offset">

    <div class="col-4">
        <div class="row d-flex justify-content-center">
            <div class="col-10 modalCard" id="contact_list">
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="row d-flex justify-content-center">
            <div class="col-10 modalCard" id="keyWord_list">
            </div>
        </div>

    </div>

    <div class="col-4">
        <div class="row d-flex justify-content-center">
            <div class="col-10 modalCard" id="response_list">
            </div>
        </div>
    </div>

</div>

<div class="col-12 hiddenCard p-3">
    <div class="row">
        <div class="col-6">
            <div class="textHidden" id="hidden_date" hidden></div>
        </div>
        <div class="col-6 text-start">
            <div class="textHidden" id="hidden_time" hidden></div>
        </div>
    </div>
</div>

<div class="col-12 d-flex justify-content-center mt-2">
    <div class="col-5">
        <div class="row" role="group" aria-labelledby="date_range_label">
            <div class="col-12 d-flex justify-content-start">
                <span id="date_range_label">Data:</span>
            </div>
            <div class="col-4">
                <input class="form-control" id="input_date1" type="date" aria-label="Data inicial">
            </div>
            <div class="col-1 d-flex justify-content-center align-items-center range-separator">-</div>
            <div class="col-4">
                <input class="form-control" id="input_date2" type="date" aria-label="Data final">
            </div>
            <div class="col-2 button-offset">
                <button class="btn btnAdd2" id="btn_add_date" type="button">Incluir</button>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="row" role="group" aria-labelledby="time_range_label">
            <div class="col-12 d-flex justify-content-start">
                <span id="time_range_label">Horário:</span>
            </div>
            <div class="col-4">
                <input class="form-control text-center" id="input_time1" type="time" aria-label="Horário inicial">
            </div>
            <div class="col-1 d-flex justify-content-center align-items-center range-separator">-</div>
            <div class="col-4">
                <input class="form-control text-center" id="input_time2" type="time" aria-label="Horário final">
            </div>
            <div class="col-2 button-offset">
                <button class="btn btnAdd2" id="btn_add_time" type="button">Incluir</button>
            </div>
        </div>
    </div>
</div>

<div class="col-12 mt-3">
    <div class="row">
        <div class="col-6">
            <div class="col-10 d-flex justify-content-end ms-4">
                <div class="col-10 modalCard2" id="date_list">
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="col-10 d-flex justify-content-start">
                <div class="col-10 modalCard2" id="time_list">
                </div>
            </div>
        </div>
    </div>
</div>
