body {
    width: 35rem;
    height: 15rem;
    max-height: 20rem;
    overflow-y: auto;
    background-color: var(--popup-background);
    color: var(--theme-color-text);
}

.div_configuration {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
}

.btnWhats {
    background-color: var(--popup-button-background);
}

.btnWhats:hover {
    background-color: var(--popup-button-background-hover);
}

.btnWhatsOff {
    background-color: var(--popup-button-off-background);
}

.btnWhatsOff:hover {
    background-color: var(--popup-button-off-background-hover);
}

.hyperlinkWhats{
    font-size: 2rem;
    color: var(--theme-color-text);
    cursor: pointer;
}

.hyperlinkWhatsOff{
    font-size: 2rem;
    color: var(--theme-color-text);
    cursor: pointer;
}

.divTittle {
    height: 3rem;
    font-size: x-large;
    font-weight: bolder;
    background-color: var(--popup-title-background);
    border: solid 1px var(--theme-color-border);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: .5px .5px .5px 0.5px var(--theme-color-shadow);
}

.subtitle {
    font-size: x-large;
    font-weight: bolder;
}

.list {
    max-height: 15rem;
    overflow-y: auto;
}

.title {
    font-size: large;
}

.text {
    font-size: 1.3rem;
    color: var(--theme-color-text-secondary);
}

.text2 {
    font-size: 1.1rem;
    color: var(--theme-color-text);
}

.text.bold {
    font-weight: bolder;
    color: var(--theme-color-text);
}

.hyperlink {
    color: var(--theme-color-text);
}

.gear {
    fill: var(--theme-color-text);
}

.config:hover .hyperlink {
    color: var(--theme-color-primary);
    text-decoration: underline;
    cursor: pointer !important;
}

.config:hover .gear{
    fill: var(--theme-color-primary);
}

