.swal2-html-container{
    overflow-x: hidden !important;
}

.swal2-popup {
    background: var(--modal-background) !important;
    color: var(--modal-text) !important;
}

.swal2-title,
.swal2-html-container {
    color: var(--modal-text) !important;
}

.swal2-confirm {
    background-color: var(--modal-confirm-button-background) !important;
    color: var(--theme-color-text-inverse) !important;
}

.swal2-cancel {
    background-color: var(--modal-cancel-button-background) !important;
    color: var(--theme-color-text-inverse) !important;
}

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
    background: var(--modal-backdrop-background) !important;
}

.hiddenCard {
    height: 2rem;
}

.btnAdd2 {
    font-weight: bold;
    background-color: var(--modal-add-button-background);
    color: var(--theme-color-text-inverse);
}

.btnAdd2:hover {
    background-color: var(--modal-add-button-background-hover);
}

.modalCard {
    overflow-y: auto;
    min-height: 4rem;
    max-height: 20vh;
    border: 1px solid var(--theme-color-border);
    border-radius: 10px;

    padding: 0.5rem;
    gap: 0.5rem;

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--theme-color-scrollbar-thumb) var(--theme-color-scrollbar-track);
}

.modalCard2 {
    overflow-y: auto;
    min-height: 1rem;
    max-height: 15vh;
    border: 1px solid var(--theme-color-border);
    border-radius: 10px;

    padding: 0.5rem;
    gap: 0.5rem;

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--theme-color-scrollbar-thumb) var(--theme-color-scrollbar-track);
}

.modalCard::-webkit-scrollbar {
    width: 8px;
}

.modalCard::-webkit-scrollbar-thumb {
    background: var(--theme-color-scrollbar-thumb);
    border-radius: 999px;
}

.modalCard::-webkit-scrollbar-track {
    background: var(--theme-color-scrollbar-track);
}

.btnExclude {
    color: var(--modal-exclude-button-color);
    cursor: pointer;
    font-weight: bold;
}

.button-offset {
    margin-left: -1rem;
}

.list-row-offset {
    margin-left: .75rem;
}

.range-separator {
    margin-right: -1rem;
    margin-left: -1rem;
}
